@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    min-height: 100%;
}

body{
    background-image: url(imagens/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.main-bloco{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main-titla{
    color: white;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.611);
    margin-top: 60px;
    padding-bottom: 16px;
}

.main-p{
    color: white;
    background-color: rgba(0, 0, 0, 0.647);
    border-bottom: 2px solid white;
    padding: 12px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}

.section-card{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 920px;
    gap: 16px;
    margin: auto;
    padding: 12px;
}

.section-card__bloco {
    flex-basis: 250px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.section-card__text{
    color: white;
    background-color: black;
    padding: 8px;
    margin: 0;
}

.section-card__bloco img{
    width: 100%;
}