@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right, orange, #fc7b20,chocolate);
}

h1{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2.5em;
}