@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgba(128, 128, 128, 0.307);
}

header{
    background-image: url(imagens/bg-3.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
    padding-top: 1px ;
}

div.h{
    margin: 100px auto 0px auto;
    width: 80%;
    text-align: center;
    color: white;
}


div.h > h1{
    text-shadow: 2px 2px 2px black;
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 10px;
}

div.h > p{
    background-color: rgba(0, 0, 0, 0.603);
    border-bottom: 2px solid white;
    font-size: 18px;
    display: inline-block;
    padding: 12px;
}

nav ul{
    margin: 20px 50px 0 0;
    text-align: right;
}

nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 15px;
}

nav a{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    padding: 16px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.54);
}

main{
    width: 90%;
    margin: auto;
    max-width: 860px;
}

article{
    display: block;
    padding: 15px;
    background-color: white;
    margin: 20px;
}

h2{
    background-color: rgba(128, 128, 128, 0.233);
    border-bottom: 2px solid gray;
    padding: 10px;
    margin-top: 0;
}

p{
    padding: 8px 0px;
    margin-bottom:8px ;
}

article a{
    background-color: rgba(128, 128, 128, 0.488);
    padding: 12px 16px;
    display: block;
    border-radius: 4px;
    margin-left: auto;
    width: fit-content;
}

footer{
    background-color: rgb(98, 98, 98);
    text-align: center;
    color: white;
    padding: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.716);
    letter-spacing: 2px;
}