@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #282828f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100VH;
    padding: 16px;
}

.main-title{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    width: 90%;
    max-width: 960px;
}

.list-item{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    background-image: url(Projeto_contatos_original/imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__img img{
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}
.list-item__name{
    margin: 0;
    font-size: 24px;
    color: #385553;
}

.list-item__action{
    display: flex;
    background-color: #e5e5e57d;
    padding: 16px;
    justify-content: space-evenly;
    gap: 16px;
}

.list-item__mail{
    padding: 10px;
}