@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #282828f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

.main-title{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.container-principal{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.349);
}

.list{
    list-style-type: none;
}

.list-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 14px;
}

.list-item:hover{
    background-color: #cccccc4a;
}

.list-item__img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.list-item__content{
    padding: 20px;
    flex-grow: 1;
}

.list-item__name{
    font-size: 24px;
    color: #282828;
}

.list-item__mail{
    margin: 5px 0 0;
    color: #ccc;
}

.list-item__action{
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 0;

}

.list-item:hover .list-item__action{
    opacity: .3;
}
