@charset "URF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

:root{
    --primary-color: #FED001;
}

p, a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

nav a{
    color: inherit;
}

.upper{
    text-transform: uppercase;
}

.btn{
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: inherit;
}
.wrapperContainer{
    padding-top: 1px;
}

.wrapperContainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light{
    background-color: #fafafa;
}

.wrapperContainer-dark2{
    background-color: #003464;
    color: #fafafa;
}

.wrapperContainer-fixed{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapperContainer-padded{
    padding-top: 12rem;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.section_title{
    padding: 7rem 0;
    text-align: center;
    margin: 0;
}

.section_btn{
    margin: 7rem 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_nav a{
    padding: .75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}

.header_nav a:hover{
    background-color: black;
}

.header_nav ul{
    display: flex;
    gap: .6em;
    list-style-type: none;
}

.wrapperContainer-hero{
    background-image: linear-gradient(transparent, var(--primary-color));
}

.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.hero_title{
    margin-bottom: 4rem;
}

.cursos{
    text-align: center;
}

.cursosContainer{
    display: flex;
    text-align: left;
    gap: 2rem;
}

.cursos-card{
    flex: 1;
    width: 400px;
}

.cursos-card img{
    width: 100%;
    display: block;
}

.cursos-card h3{
    font-size: 2.4rem;
}

.cursos-card p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.cursos_card_content{
    padding: 1rem 1.25rem;
    border: 1px solid #949494;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}

.escola{
    display: flex;
    gap: 7rem;
    padding-top: 6rem;
}

.escola-title{
    font-size: 3.2rem;
    margin-top: 2rem;
}

.escola p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.contatos_adress{
    text-align: right;
    font: normal 400 1.8rem "Inter, sans-serif";
    padding: 3rem 0;
}

.footer{
    text-align: center;
    font-size: 1.6rem;
    padding: 4.5rem;
}