@charset "URF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

:root{
    --primary-color: #FED001;
}

p, a{
    font-size: 1.6rem;
}

span.upper{
    text-transform: uppercase;
}

.wrapperContainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light{
    background-color: #fafafa;
}

.wrapperContainer-dark2{
    background-color: #003464;
    color: #fafafa;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}