@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.viaoda-libre-regular {
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
}

html{
    font-size: 62.5%;
}

.header-principal{
    background-color: #162028;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.title-logo{
    color: white;
    font-family: "Viaoda Libre", serif;
    font-size: 3.2em;
}

.header-nav ul{
    display: flex;
    list-style-type: none;
    gap: 3.4em;
    text-transform: uppercase;
    font-size: 1.6em;
}

.header-nav a{
    text-decoration: none;
    color: #425564;
}

.poster-topo{
    background-image: url(../imagens/topo.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 600px;
}

.text-title{
    font-family: "Viaoda Libra", serif;
    font-size: 3.6em;
    color: black;
}

.content-one{
    margin-top: 8em;
    text-align: center;
}

.content-one h2{
    margin-bottom: 1em;
}

.content-one p{
    width: 800px;
    margin: auto;
    font-size: 1.6em;
    line-height: 1.8em;
    margin-bottom: 4em;
}

.content-modelos{
    display: flex;
    justify-content: space-evenly;
}

.fotos-modelos{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5em;
    align-items: center;
}

.fotos-modelos h3{
    text-transform: uppercase;
    font-size: 1.5em;
}

.fotos-modelos p{
    font-size: 1.6em;
    margin-bottom: 4em;
}

.content-two{
    background-image: url(../imagens/bg_detalhe.png);
    background-color: #003d52;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right bottom;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.content-two h2{
    font-size: 3.8em;
    text-transform: uppercase;
    text-align: left;
    padding: 1.6em;
    color: white;
    width: 800px;
}

.content-two p{
    font-size: 1.6em;
    padding: 1.6em;
    color: white;
    width: 700px;
    text-align: left;
}

.footer-pagina{
    background-color: #0b171f;
    color: #6f8597;
    font-size: 1.6em;
    text-align: center;
    padding: 1.6em;
}