@charset "UTF-8";

:root{
    --cor-principal: rgb(62, 108, 194);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: white;
    border-left: 6px solid rgb(100, 149, 237, .9);
    padding: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    min-width: 350px;
    max-width: 450px;
    width: 90%;
}

fieldset{
    border: none;
    gap: 10px;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

legend{
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: var(--cor-principal);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-cadastro {
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
}

a.Esqueci{
    display: block;
    text-align: right;
    text-transform: none;
    font-size: 14px;
}