@charset "UTF-8";

:root{
    --cor-principal: rgb(62, 108, 194);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form{
    background-color: white;
    border-left: 6px solid rgb(100, 149, 237, .9);
    padding: 24px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 350px;
    max-width: 480px;
    width: 80%;
}

.form__fieldset{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: none;
    gap: 10px;
    padding: 1rem;
}

.form__input{
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--cor-principal);
    margin-bottom: 10px;
    padding: .5em 0;
    font-size: 1.2rem;
    outline: none;
    transition: padding-left .08s;
}

.form__input:focus{
    outline: 2px solid var(--cor-principal);
    padding-left: .3rem;
}

.form__title{
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
    padding-top: 2rem;
}

.form__label{
    text-transform: uppercase;
    font-size: .8rem;
}

.form__action{
    display: flex;
    align-items: center;
}

.btn{
    border: none;
    outline: none;
    border-radius: 2px;
    padding: .8rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn-primary{
    background-color: var(--cor-principal);
    color: white;
}

.btn-secondary{
    color: var(--cor-principal);
}

.esqueci{
    text-align: right;
    font-size: .85rem;
    flex-grow: 1;
    text-align: right;
}

p{
    text-transform: none;
}